@import "../../styles/font_styles";
@import "../../styles/variables";

/* body */
.page {
    // .page__body
    &__body {
    }
}

//==========================================================================================================
.page-public {
    // .page-public__slider
    &__slider {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 965px;
        @media (max-width: $tablet) {
            height: 100vh;
        }
    }

    &__panel {
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        height: 965px;
        @media (max-width: $tablet) {
            display: none;
        }

        background-color: #f2f2f2;
    }

    // .page-public__bg
    &__bg {
        display: flex;
        flex-direction: column;
        align-items: center;

        background: linear-gradient(to right, #ffffff 50%, #f2f2f2 50%);
    }

    // .padge-body__container
    &__container {
        width: 100%;
        @media (max-width: $maxWidthContainer) {
            width: calc(100vw - $containerPadding);
        }
        height: 100%;
    }

    // .page-public__about
    &__about {
        color: $mainColorBlack;
        display: flex;
        gap: 20px;
        padding: 120px 0 170px;

        @media (max-width: $mobile) {
            padding: 60px 0 85px;
            flex-direction: column;
        }
    }
    
    // .page-public__bbg
    &__bbg {
        width: 100%;
        background: $mainColorBlack;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .page-public__video
    &__video {
        padding-bottom: 90px;
    }

    
    // .page-public__reviews
    &__reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;
    }

    // .page-public__contact
    &__contact {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        padding: 72px 0;
        gap: 40px;
    }
}

//==========================================================================================================

.slider-body {
    // .slider-body__container
    &__container {
    }

    // .slider-body__block
    &__block {
        padding-right: 10%;
        @media (max-width: $mobile) {
            padding-right: 0;
        }
    }

    // .slider-body__title
    &__title {
        @include Prata64Style;
        pointer-events: all;
        @media (max-width: $mobile) {
            font-size: 48px;
        }
        @media (max-width: $mobileSmall) {
            font-size: 32px;
        }
    }

    // .slider-body__text
    &__text {
        pointer-events: all;
        margin: 50px 0;
        padding: 0;
    }

    // .slider-body__item
    &__item {
        @include Montserrat16Style;
        @media (max-width: $mobile) {
            font-size: 14px;
        }
        @media (max-width: $mobileSmall) {
            font-size: 12px;
        }
        display: flex;
        align-items: center;
        gap: 20px;

        & + & {
            margin-top: 25px;
        }

        &::before {
            flex: 0 0 auto;
            content: "";
            width: 20px;
            height: 4px;
            background-color: $mainColor;
        }
    }

    // .slider-body__btn
    &__btn {
        pointer-events: all;
        @include Montserrat16Style;

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: $mainColor;
        color: $mainColorBlack;
        padding: 14px 22px 13px;
    }
}

//==========================================================================================================

.about {
    // .about__left
    &__left {
        flex: 1 0 48%;
        @include Prata36Style;
        color: $titleColor;
        @media (max-width: $mobile) {
            text-align: center;

            margin-bottom: 40px;
        }
    }

    // .about__right
    &__right {
        flex: 1 0 48%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding-left: 50px;
        @media (max-width: $mobile) {
            padding-left: 0;
        }
    }
}
.right-about {
    // .right-about__title
    &__title {
        @include MondaStyle;
        margin-bottom: 10px;
    }

    // .right-about__text
    &__text {
        @include Montserrat14Style;
    }
}

//==========================================================================================================

.content-public {
    // .content-public__title
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0 40px;

        border-top: 1px solid $mainColorBlack;
    }

    // .content-public__text
    &__text {
        @include Prata28Style;
        color: $titleColor;
    }

    // .content-public__square
    &__square {
        content: "";
        width: 12px;
        height: 12px;
        background: $mainColorBlack;
    }

    // .content-public__card
    &__card {
        // max-width: 400px;
        flex: 1 1 100%;
        display: flex;
        margin: 0 0 40px 0;
        @media (min-width:$pc){
            padding: 0;
            justify-content: space-around;
            align-items: center;
            // flex-wrap: wrap;
        }
        gap: 10px;
    }
}

//==========================================================================================================

.video-body {
    // .video-body__title
    &__title {
        border-bottom: 1px solid $mainColor;
        padding: 100px 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        margin-bottom: 60px;
    }

    // .video-body__text
    &__text {
        @include Prata28Style;
        color: $mainColor;
    }

    // .video-body__square
    &__square {
        content: '';
        width: 12px;
        height: 12px;
        background: $mainColor;
    }

    // .video-body__card
    &__card {
        display: flex;
        justify-content: center;
        gap: 25px;
    }
}

//==========================================================================================================

.reviews-body {
    // .reviews-body__title
    &__title {
        @include Prata28Style;
        color: $titleColor;
        margin-bottom: 50px;
    }

    // .reviews-body__card
    &__card {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 25px;
    }
}

//==========================================================================================================

.contact-body {
    // .contact-body__item
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 48%;
    }
}

//==========================================================================================================
